/*Aligns all items in cart*/
#carList{
  text-align: center;
}
#checkoutHead{
   color: transparent;
   background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
   -webkit-background-clip: text;
   text-decoration: underline;
   font-size: 4.5em;
   letter-spacing: 15px;
   text-align: center;
}
#itembBask{
  border-radius: 50%;
}
/*Styles checkout form*/
.formCheck{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 3px solid #e6b3cc;
  border-radius: 25px;
  float: right;
  padding: 15px;
  background: radial-gradient( #fff, #FFE3E3,#FFE2B8,#FFFECE,#C8FFC7,#D3D4FF,#EDD0FF,#FED2FD)
}
.labelForm{
  font-family: Verdana, sans-serif;
  padding: 10px 15px;
  margin-top: 5px;
  text-align: center;
  text-decoration: underline;
  font-weight: 600;

}
/*Styles checkout button*/
#butOut{
  border-radius: 12px
}
#webHead{
  color: transparent;
   background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
   -webkit-background-clip: text;
   text-decoration: underline;
   font-size: 5.5em;
   letter-spacing: 15px;
   text-align: center;


}

/*Spands background to the whole page*/
body {
  
  margin: 0;
  background: linear-gradient( #fff, #FFE3E3,#FFE2B8,#FFFECE,#C8FFC7,#D3D4FF,#EDD0FF,#FED2FD)
}
.cart{
  text-align: center;
  float: right;
   background: 
    linear-gradient(to bottom, #fff 2%,),   
    linear-gradient(to top, #fff 2%, ),
    linear-gradient(to right, #fff 2%,),    
    linear-gradient(to right, #fff 2%,);
 animation: bg 15s infinite;
 width: 30%;
 height: auto;
 border-radius: 15px;
}
/*Sets position of background*/
#bg {
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
/*Allows background to animate between various colours*/
@keyframes bg {
  12.5%, 100% { background-color: #FF948E; }
  25% { background-color: #FBB169; }
  37.5% { background-color: #FDFB96; }
  50% { background-color: #A8FFB4; }
  62.5% { background-color: #A5D2FE; }
  75% { background-color: #DBADFF; }
  87.5% { background-color: #FABFFF; }
}
/*Sets all images to a specific height & width */
img{
  height: 350px;
  width: 300px;

}

/*Allows options to appear when a certain delivery type is chosen*/
#deliverType ~ div {
  display: none;
}
#deliverType:checked ~ div {
  display: block;
}
/*Styles each item holders postion*/
.cardholder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
/*Styles each displayed in a card*/
.card {
  box-shadow: 2px 4px 8px 0 #000;
  max-width: 300px;
  text-align: center;
  font-family: arial;


}
/*tyles background of the cards*/
.item{
  background: 
    radial-gradient(circle at bottom, #fff, transparent 20%),   
    linear-gradient(to top, #fff 5%, transparent 70%),    
    radial-gradient(circle at bottom, #fff, transparent 10%);
 animation: bg 15s infinite;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}
/*Styles prices within the cards*/
.price {
  position: relative;
  font-size: 22px;
  color: black;
  margin-left: 10px;
}
/*Adds a "$" before the prices in the cards*/
.price:before {
  position: absolute;
  content: "$";
  left: 6pc;
}
/*Styles the total in the cart*/
#totalPrice{
  position: relative;
  font-size: 22px;
  color: black;
  margin-left: 10px;
}
/*Adds a "$" to the total within the cart*/
#totalPrice:before{
position: absolute;
content: "$";
left: -10px;
}
/*Styles the quick "Add To Cart" button in the dialog*/
.addToCart{
  width: 100px;
  height: 50px;
  border-radius: 12px;
}
/*Styles the "More" button*/
.aboutItem{
  width: 100px;
  height: 50px;
  border-radius: 12px;
}
/*Styles the list with the navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
/*Styles content within navigation bar*/
li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-family: Times, sans-serif;
  font-size: 2.3em; 
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10%;
}
/*Changes color of background of item when hovered over in the navigation bar*/
ul a:hover {
  font-size: 3em;
}
button{
  border-radius: 35%;
  box-shadow: 2px 3px 2px #F4F4F4;
}